{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
	<table class="table table-dark table-striped">
		<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">header1</th>
			<th scope="col">header2</th>
			<th scope="col">header3</th>
		</tr>
		</thead>
		<tbody>

		<tr>
			<th scope="row">#</th>
			<td>sample</td>
			<td>sample</td>
			<td>sample</td>
		</tr>

		<tr>
			<th scope="row">#</th>
			<td>sample</td>
			<td>sample</td>
			<td>sample</td>
		</tr>

		<tr>
			<th scope="row">#</th>
			<td>sample</td>
			<td>sample</td>
			<td>sample</td>
		</tr>
		</tbody>
	</table>
{% endblock %}