.container {
  border: 3px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* align-content: center; */
  height: 90vh;
  /* flex-direction: row; by default is row*/ 
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: start; */
  /* justify-content: end; */
}

.box {
  /* By default flex-basis applies on flex direction aspect
  in this example because flex-direction is row this property
  changes the width */
  flex-basis: 15rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex: 1 1 15rem; /* flex-grow flex-shrink flex-basis */
  width: 5rem;
  height: 5rem;
  background: gold;
  margin: 0.5rem;
}

.box-one {
  /* Overwrite the align-items */
  align-self: start;
  /* flex-grow: 2; */
}

.box-three {
  align-self: end;
}