{% extends 'base.html' %}

{% block title %}Create{% endblock %}

{% block content %}
	<h3 class="text-center">Create Todo</h3>

	<hr>

	<div class="row justify-content-center">

		<form action="" method="post" class="card w-75 p-4" novalidate>
			{# novalidate: it will disable the validation of the browser #}

			{% csrf_token %} {# we need csrf token because of the hacker's csrf attacks #}
			{{ form }}
			<div class="text-center">
				<input type="submit" value="Create" class="btn btn-success mt-3 w-25">
			</div>
		</form>

	</div>

{% endblock %}