{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
	<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}

{% block content %}
	<h2 class="text-center">Products</h2>
	<hr>
	<div class="row">
	{% for product in products %}
			<div class="col-3 card p-2 m-1" style="width:18rem;">
				<img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}"
						 style="width: 250px;height: 250px; object-fit: scale-down">
				<div class="card-body">
					<a href="{{ product.get_absolute_url }}" class="card-title" style="text-decoration: none; font-size: 23px">{{ product.name }}</a>
				</div>
			</div>
	{% endfor %}
	</div>
{% endblock %}