<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Box Model and Box Sizing</title>
    <link rel="stylesheet" href="/layout/css/normalize.css" />
    <link rel="stylesheet" href="/layout/css/style2&3.css" />
  </head>
  <body>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <hr />
    <div class="box1">
      <p>border-box</p>
    </div>
    <div class="box2">
      <p>content-box</p>
    </div>
  </body>
</html>
