<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hide Elements & Media Queries</title>
  <link rel="stylesheet" href="/layout/css/normalize.css">
  <link rel="stylesheet" href="/layout/css/style10.css">
</head>
<body>
<p>Lorem ipsum dolor sit amet.</p>
<p>Lorem ipsum dolor sit amet.</p>
<div class="container">
  <div class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut, cum eaque eveniet inventore
    sunt tempore vitae voluptatem! Amet aut, eaque facilis libero magni odio sit temporibus! Accusantium debitis
    deleniti dolore expedita, explicabo facilis fugit harum impedit inventore iusto nihil nostrum nulla placeat quaerat
    qui quis quo similique sint suscipit!
  </div>
  <div class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut, cum eaque eveniet inventore
    sunt tempore vitae voluptatem! Amet aut, eaque facilis libero magni odio sit temporibus! Accusantium debitis
    deleniti dolore expedita, explicabo facilis fugit harum impedit inventore iusto nihil nostrum nulla placeat quaerat
    qui quis quo similique sint suscipit!
  </div>
</div>
</body>
</html>