<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Floating Elements</title>
    <link rel="stylesheet" href="/layout/css/normalize.css" />
    <link rel="stylesheet" href="/layout/css/style7.css" />
  </head>
  <body>
    <article class="tweet clearfix">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <!-- <p class="clear">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis
        blanditiis ullam vel quaerat aut, corporis reiciendis, recusandae,
        fugiat expedita sequi dolor ratione assumenda deleniti rem cum quae
        numquam adipisci dolorem libero neque ut error ex voluptates? Minima nam
        nostrum odit vel officiis voluptas magni dolor. Autem nemo quasi
        inventore illum.
      </p> -->
    </article>
  </body>
</html>
